<%= form_for @topic do |f| %>
<%= f.label :description%>
<%= f.text_field :description%>
<h2>Add Items related to this topic</h2>
<div class="hints">press enter to add a new item</div>
<div class="item_container">
	<% @topic.items.each do |item| %>
	<div>
		<%= text_field_tag "items[][content]", item.content %>
		<%= hidden_field_tag "items[][id]", item.id %>
	</div>
	<% end %>
	<div><%= text_field_tag "items[][content]"%></div>
</div>
<%= f.submit%>
<% end %>