<%= form_for @topic do |f| %>
<%= f.label :description%>
<%= f.text_area :description%>
<div class="item_container">
<div>
<%= label_tag "item"%>
<%= text_field_tag "items[][content]"%>
</div>
<div>
<%= label_tag "item"%>
<%= text_field_tag "items[][content]"%>
</div>
<div>
<%= label_tag "item"%>
<%= text_field_tag "items[][content]"%>
</div>
</div>
<%= button_tag "add a new item", :class => "add-button" %>
<%= f.submit%>
<% end %>